{% extends 'base.html'%}
{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% include '_messages.html' %}
        {% if brands %}
       
        <form action="" method="POST">
            <h2 class="text-centre" style="margin-top: 20%;">Add Brand</h2>
            <input type="text" name="brand" class="form-control" style="margin-top: 5%;">
            <input type="submit" value="Add Brand" class="btn btn-info mt-3">

        </form>
        <a href="{{ url_for('brands')}}" class="btn btn-sm btn-outline-success mt-3 ml-4">Brands</a>
    </div>
        {% else %}
        <form action="" method="POST">
            <h2 class="text-centre" style="margin-top: 20%;">Add Category</h2>
            <input type="text" name="category" class="form-control" style="margin-top: 5%;">
            <input type="submit" value="Add Category" class="btn btn-info mt-3">
     
        </form>
        <a href="{{ url_for('category')}}" class="btn btn-sm btn-outline-success mt-3 ml-3">Categories</a>
        


        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>

</div>
{% endblock %}