{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<h3 class="text-center mt-3"> My Carts</h3>
<div class="container mt-5">
    {% include '_messages.html' %}
    <div class="row">
        <table class="table table-sm table-condensed table-striped table-hover " style="text-align: center";>
<thead>
<th>No</th>
<th>Image</th>
<th>Name</th>

<th>Price</th>
<th>Discount</th>
<th>Quantity</th>
<th>Sub Total</th>
<th>Update</th>
<th>Delete</th>
</thead>
<tbody>

    {% for key, product in session['shoppingcart'].items() %}
    {% set val = ((product.discount/100) * product.price|float) %}
    <tr>
    <td>{{ loop.index }}</td>
    <td><img src="{{ url_for('static', filename = 'images/' + product.image)}}"  height="45" width="50"></td>
    <td>{{product.name}}</td>
    
    <td>Rs {{product.price}}</td>
    {% if product.discount > 0 %}
    <td>{{product.discount}} %</td>
    {% else %}
    <td></td>
    {% endif %}
  
   
    <form action="{{url_for('updatecart', cart_id = key)}}" method="POST">
        <td><input type="number" min="1" max="{{product.stock_1}}" value="{{product.quantity}}" name="quantity" ></td>

    {% set subtotal = product.quantity|int * product.price|int %}
    <td>{{((subtotal|int) - val|int )}}</td>


   
    <td><button type="submit" class="btn btn-sm btn-outline-info" >Update</button></td>
</form>
    <td><a href="{{ url_for('deletecartitem', id = key)}}" class="btn btn-sm btn-danger" >Delete</a></td>
</tr>
{% endfor %}
<tr>
    <td></td>
    
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><h5 >Grand Total: </h5></td>
    
    <td> <b>{{ grandtotal }}</b></td>
    
    <td></td>
</tr>

</tbody>

        </table>
        <tr>
        <a href="{{ url_for('home')}}" class="btn btn-sm btn-outline-info" style="width: 11%;">Continue Shopping</a>
        <a href="{{url_for('get_order')}}" class="btn btn-sm btn-success " style="width: 7%; margin-left: 2%;">Buy Now</a>
        <a href="{{ url_for('clearcart')}}" class="btn btn-sm btn-warning " style="width: 6%; margin-left:70%;">Clear Cart</a>
    </tr>
    </div>
</div>





{% endblock %}