{% extends 'base.html' %}
{% block content %}





{% include 'navbar.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" >
            <img src="{{ url_for('static', filename = 'images/'+ product.image_1)}}"  width="400" height="350" id="big_image">
        </div>
   
        <div class="col-md-6">
            <h4>Product name: {{ product.name }}</h4>
        <hr>
            <p>Product price: Rs.{{product.price}}</p>

          
            {% if product.discount > 0 %}
            <p style="color: chocolate; text-shadow: 2px 2px 8px;">Discount: {{product.discount}} %</p>
            {% endif %}
            
           
            <p  style="text-shadow: 2px 2px 2px gray;">Hurry up! Only {{ product.stock }} left</p>
            <hr>
            <b>Details</b>
            <p>{{ product.description }}</p>

            <form action="{{ url_for('addcart')}}" method="POST">
<input type="hidden" name="product_id" value="{{ product.id }}">
<button type="submit"class=" btn btn-sm btn-warning" >Add Cart</button>
<label for="">Quantity: </label> 
<input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" >          
</form>
        
        </div>
    </div>

   <div class="row">
    <div class="col-md-5 mt-4"   >
        <img src="{{ url_for('static', filename = 'images/'+ product.image_1)}}" height="100" width="100" class="p-2" id="small_image">
        <img src="{{ url_for('static', filename = 'images/'+ product.image_2)}}" height="100" width="100"class="p-2" id="small_image">
        <img src="{{ url_for('static', filename = 'images/'+ product.image_3)}}" height="100" width="100"class="p-2" id="small_image">
        <img src="{{ url_for('static', filename = 'images/'+ product.image_4)}}" height="100" width="100"class="p-2" id="small_image">
    </div>
  
</div>
</div>

<script>
    var big_image= document.getElementById("big_image");
    var small_image = document.querySelectorAll("#small_image")

    small_image.forEach((img, index)=>{
        img.addEventListener('click',()=>{
            big_image.src = img.src;
        })
    })
   
  

</script>


{% endblock %}