{% extends 'base.html' %}
{% block content %}





<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}" style="color: white;">Products</a>
            </li>
           


            
                 

          </ul>
     
         

        
        
            <ul class="navbar-nav ml-auto"> 
              
              
              <form class="d-flex" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search Products.." aria-label="Search" name="q">
                <button class="btn btn-sm btn-success" type="submit" style="background: none;
                border: none;
                margin-right: 5%;"><i class="fas fa-search"></i></button>
              </form>
         


{% if current_user.is_authenticated %}


<li class="nav-item">
<a class="nav-link active" style="color: white;" href="{{ url_for('allcart')}}" tabindex="-1"><i class="fas fa-shopping-cart fa-2x" title="Cart"></i> ({{ session['shoppingcart']|length }})</a>
</li>

<li class="nav-item">
<a href="{{ url_for('account', name = current_user.name)}}" class="nav-link"style="color: white;"><i class="fas fa-user-circle fa-2x" title="Account"></i></a>

<li class="nav-item">
  <a href="{{ url_for('customer_logout')}}" class="nav-link"style="color: white;"><i class="fas fa-sign-out-alt fa-2x" title="Logout"></i></a>
</li>
{% else %}
<li class="nav-item">
<a href="{{ url_for('customer_registration')}}" class="nav-link"style="color: white;"><i class="fas fa-user-plus fa-2x" title="Register"></i></a>
</li>
<li class="nav-item">
<a href="{{ url_for('customer_login')}}" class="nav-link"style="color: white;"><i class="fas fa-sign-in-alt fa-2x" title="Sign In"></i></a>
</li>

{% endif %}
</ul>

           
          

        
         
        </div>
      </div>

    


    </nav>
</div>








    
<div class="container">

<div class="row">
   

        
        {% for product in products.items %}

       
        <div class="col-md-3 mt-3 ml-3" style="    width: 17%;
       ">
            <div class="card" >
                <img src="{{ url_for('static', filename = 'images/' + product.image_1)}}" alt="" class="card-img-top" height="150" width="15">
                <div class="card-body">
                    {% if product.discount >0 %}
                    <h4 style="text-shadow: 2px 2px 8px; color: red; transform: rotate(-17deg); position: absolute; top: 30%; left: 18%;">Discount {{product.discount}}%</h4>
                    {% endif %}
                    <h4 class="text-center">{{product.name}}</h4>
                    <p class="text-center" style="color: darkgreen;">Price Rs-<b>{{ product.price}}</b></p>

                    <p class="text-center" style="text-shadow: 2px 2px 2px gray;">Hurry up! Only {{ product.stock }} left</p>

                  
                  </div>
                
                    <div class="card-footer" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                       <a href="{{url_for('description', id = product.id)}}" class=" btn btn-sm btn-success " >Details</a>
    
                   
               
                    </div>
                 
               
            </div>
          </div>
      
        {% endfor %}
        </div>
      </div>
    </div>
    


        <div class="row">
            <div class="col text-center">
                {% if products.has_prev %}
                <a href="{{ url_for('home',page = page_num) }}" class="btn btn-sm btn-outline-info mt-4">
                    Previous
                 
                  </a>
                {% endif %}
                {% for page_num in products.iter_pages(left_edge =1, right_edge=1, left_current =1,right_current =2) %}
                {% if page_num %}
                {% if products.page == page_num %}
                
                <a href="{{ url_for('home',page = page_num) }}" class="btn btn-sm btn-info mt-4">
                  {{ page_num }}
                
                </a>
                {% else %}
                <a href="{{ url_for('home',page = page_num) }}" class="btn btn-sm btn-outline-info mt-4">
                  {{ page_num }}
               
                </a>
                {% endif %}
                {% else %}
                    ...
                {% endif %}
                
                
                {% endfor %}
                {% if products.has_next %}
                <a href="{{ url_for('home',page = page_num) }}" class="btn btn-sm btn-outline-info mt-4">
                    Next
                 
                  </a>
                {% endif %}

            </div>
        </div>




     
    </div>
</div>
{% endblock %}