{% extends "base.html" %}
{% block content %}
{% include '_messages.html' %}
{% from "_formhelpers.html" import render_field %}



<form action="#" method="POST" enctype="multipart/form-data">

        
    {{ form.hidden_tag() }}
  <div class="form-group" style=" left: 28%; top: 17%;">
    
    <div class="text-center h3 text-danger">Add Your Review</div>
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.body, class="form-control") }}
   
    
  
  <p><input type=submit value="Review" class="btn btn-info"></p>
        
</form>
{% endblock %}