{% extends 'base.html'%}
{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% include '_messages.html' %}
        {% if updatebrand %}
       
        <form action="" method="POST">
            <h2 class="text-centre" style="margin-top: 20%;">Update Brand</h2>
            <input type="text" name="brand" class="form-control" style="margin-top: 5%;" value="{{ updatebrand.name }}">
            <input type="submit" value="Update Brand" class="btn btn-info"style="position: absolute; top: 33%;">

        </form>
        <a href="{{ url_for('brands')}} " class="btn btn-warning"style="position: absolute; left: 40%; top: 33%;">Cancel</a>
    </div>
        {% else %}
        <h2 class="text-centre" style="margin-top: 20%;">Update Category</h2>
        <form action="" method="POST">
            <input type="text" name="category" class="form-control" style="margin-top: 5%;"value="{{ updatecat.name }}">
            <input type="submit" value="Update Category" class="btn btn-info" style="position: absolute; top: 33%;">

        </form>

        <a href="{{ url_for('category')}} " class="btn btn-warning" style="position: absolute; left: 40%; top: 33%;">Cancel</a>


        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>

</div>
{% endblock %}