{% extends "base.html" %}
{% block content %}


<div class="conatiner">
<div class="row">
{% from "_formhelpers.html" import render_field %}
{% include '_messages.html' %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
  <div class="form-group" style="width: 45%;position: absolute; left: 28%; top: 17%;">
    
    <div class="text-center h1 text-danger">Login</div>
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
   
    
  
  <p><input type=submit value="Login" class="btn btn-info"></p>
</div>
</form>
</div>
<div class="col-md-15 mt-6 text-center" >
    <small style="    position: absolute;
    top: 56%;
    left: 65%;">
      Need an Account? </small><a class="btn btn-sm btn-success" style=" position: absolute;
      top: 50%;
      left: 65%;"href="{{ url_for('customer_registration')
      }}">Register Now</a>
    </small>
  </div>
</div>

{% endblock %}