<html>
    <head>
        <title>PDF</title>
    </head>
    <body>



<h3 class="text-center mt-3"> My Orders</h3>


<div class="container mt-5">
    {% include '_messages.html' %}

    Invoice: {{ get_the_order.invoice }}
    <br>
    Status: {{ get_the_order.status}}   <br>
    Customer Name: {{ current_user.name}}   <br>
    Customer email: {{ current_user.email }}   <br>
    Customer phone no: {{ current_user.contact }}<br><br>

    <div class="row">
        <table class="table table-sm table-condensed table-striped table-hover ">
<thead>
<th>No</th>

<th>Name</th>

<th>Price</th>
<th>Discount</th>
<th>Quantity</th>
<th>Sub Total</th>

</thead>
<tbody>

    {% for key, product in get_the_order.orders.items():  %}
    {% set val = ((product.discount/100) * product.price|float) %}
    <tr>
    <td>{{ loop.index }}</td>
   
    <td>{{product.name}}</td>
    
    <td>Rs {{product.price}}</td>
    {% if product.discount > 0 %}
    <td>{{product.discount}} %</td>
    {% else %}
    <td></td>
    {% endif %}
  
   

        <td>{{product.quantity}}</td>

    {% set subtotal = product.quantity|int * product.price|int %}
    <td>{{((subtotal|int) - val|int )}}</td>


   

  
</tr>
{% endfor %}
<tr>
    <td></td>
    
    
    <td></td>
    <td></td>
    <td></td>
    <td><h5 >Grand Total: </h5></td>
    
    <td> <b>{{ grandtotal }}</b></td>
    
    <td></td>
</tr>

</tbody>

        </table>
   
    </div>
</div>





</body>
</html>