

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
           
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}" style="color: white;">Products</a>
                  </li>
                 


                  
                       

                </ul>
           
               

              
              
                  <ul class="navbar-nav ml-auto"> 
                    
                    
                  
               


    {% if current_user.is_authenticated %}
   
    
    <li class="nav-item">
      <a class="nav-link active" style="color: white;" href="{{ url_for('allcart')}}" tabindex="-1"><i class="fas fa-shopping-cart fa-2x" title="Cart"></i> ({{ session['shoppingcart']|length }})</a>
  </li>

  <li class="nav-item">
    <a href="{{ url_for('account', name = current_user.name)}}" class="nav-link"style="color: white;"><i class="fas fa-user-circle fa-2x" title="Account"></i></a>

    <li class="nav-item">
      <a href="{{ url_for('customer_logout')}}" class="nav-link"style="color: white;"><i class="fas fa-sign-out-alt fa-2x" title="Logout"></i></a>
    </li>
    {% else %}
    <li class="nav-item">
      <a href="{{ url_for('customer_registration')}}" class="nav-link"style="color: white;"><i class="fas fa-user-plus fa-2x" title="Register"></i></a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('customer_login')}}" class="nav-link"style="color: white;"><i class="fas fa-sign-in-alt fa-2x" title="Sign In"></i></a>
    </li>
    
    {% endif %}
    </ul>
    
                 
                
    
              
               
              </div>
            </div>
    
          
    
    
          </nav>
    </div>



