{% extends "base.html" %}
{% block content %}
{% include '_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('admin')}}"style="color: white;">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('admin')}}"style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('brands')}}"style="color: white;">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('category')}}"style="color: white;">Categories</a>
              </li>
            
            </ul>
          </div>
        </div>
      </nav>
</div>
<div class="conatiner mt-5 ml-3"style="margin-left: 7rem; margin-right: 7rem;">

    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>No</th>
            <th>Name</th>
          
          
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
            {% for brand in brands %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{brand.name}}</td>
              

              <td><a href="{{url_for('updatebrand', id = brand.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
              <td><button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ brand.id }}">
                Delete
              </button></td>
          </tr>

          <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ brand.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ brand.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Are you sure? You want to delete {{ brand.name }} brand!</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
        <form action="{{ url_for('deletebrand', id = brand.id)}}" method="POST">
          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
          {% endfor %}
          {% else %}
          
      
          {% for category in categories %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{category.name}}</td>
              

              <td><a href="{{url_for('updatecat', id = category.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
              <td><button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ category.id }}">
                Delete
              </button></td>
          </tr>

          <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ category.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Are you sure? You want to delete {{ category.name }} category!</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
        <form action="{{ url_for('deletecat', id = category.id)}}" method="POST">
          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
          </tr>
          {% endfor %}


    
      


          {% endif %}

        </tbody>
    </table>
</div>


{% endblock %}