{% extends "base.html" %}
{% block content %}
{% include '_messages.html' %}
{% include 'admin_navbar.html' %}


 
<body>
<div class="graph" style="width: 50%; height: 50%; display: flex; margin-top: 5%; margin-left: 22%;">
    <canvas id="myChart"></canvas>
    </div>
  
    <script   type="text/javascript">
     const xaxis = {{ x| tojson }};
    const yaxis = {{ y| tojson }};   
    
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xaxis,
            datasets: [{
                label: 'Product Sale',
                data: yaxis,
                fill: false,
                backgroundColor: [
                    
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                   'blue'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    </body>


{% endblock %}