{% extends "base.html" %}
{% block content %}
{% include '_messages.html' %}
{% include 'admin_navbar.html' %}


  
<body>
<div class="graph" style="width: 50%; height: 50%; display: flex; margin-top: 5%; margin-left: 22%;">
    <canvas id="myChart"></canvas>
    </div>
  
    <script   type="text/javascript">
     var xaxis = {{ x|safe}};
     var yaxis = {{ y|safe}};   
    
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xaxis,
            datasets: [{
              
                data: yaxis,
                backgroundColor: [
                    
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                   'red'
                ],
                borderWidth: 3
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    </body>


{% endblock %}