{% extends "base.html" %}
{% block content %}
{% include '_messages.html' %}
{% include 'admin_navbar.html' %}
<div class="conatiner mt-5 ml-3" style="margin-left: 7rem; margin-right: 7rem;">

    <table class="table table-sm table-condensed table-striped table-hover ">
        <thead>
            <th>No</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Stock</th>
           
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.discount}} %</td>
              <td>{{ product.stock }}</td>
             
              <td><img src="{{ url_for('static', filename ='images/'+ product.image_1)}}" width="40" height="30"></td>
              <td><a href="{{ url_for('updateproduct',id = product.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>

              <td><button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ product.id }}">
                Delete
              </button></td>
          </tr>

          <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Are you sure? You want to delete {{ product.name }} product!</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
        <form action="{{ url_for('deleteproduct', id = product.id)}}" method="POST">
          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}