{% extends "base.html" %}
{% block content %}


<div class="conatiner">

{% from "_formhelpers.html" import render_field %}
{% include '_messages.html' %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
  <div class="form-group" style="width: 45%;position: absolute; left: 28%; top: 17%;">
    
    <div class="text-center h1 text-danger">Login</div>
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
   
    
  
  <p><input type=submit value="Login" class="btn btn-info"></p>
</div>
</form>


<div class="col-md-15 mt-6 text-center" >
  <a class="btn btn-sm btn-success" style=" position: absolute;
    top: 50%;
    left: 65%;"href="{{ url_for('register')
    }}">Register Now</a>
  </small>
</div>
</div>
</div>
{% endblock %}